body {
  background-color: #f2f2f2;
}
/* home page styles */
#portfolio-img {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}

#about-section {
  margin: 5em;
}

/* project page styles */
#project-carousel {
  font-size: 20px;
}
#tech-stack li,
#contact-alt li {
  list-style-type: none;
  display: inline;
}
/* FA styles */

.fa-brands {
  width: 60px;
  font-size: 2rem;
}

.fa-brands:hover {
  font-size: 2.5rem;
}

#html-logo {
  color: #e35026;
}

#css-logo {
  color: #274de5;
}

#js-logo {
  color: #fedd24;
}

#react-logo {
  color: #62dafb;
}
#bootstrap-logo {
  color: #7953b3;
}

#tech-stack-header {
  text-align: center;
}

/* contact page general styles */
#twitter-logo {
  color: #188cd8;
}

#linkedin-logo {
  color: #0f66c3;
}

#github-logo {
  color: #161b21;
}

#contact-alt,
#tech-stack {
  position: sticky;
  /* bottom: 100rem; */
  margin-top: 20rem;
}
